﻿


<div class="container">
    <div class="header">
       @Menu()
        <h3 class="text-muted">Mv3</h3>
    </div>

    <div class="jumbotron">
       @Zone(Region.Header)
    </div>

    <div class="row marketing">
        <div class="col-lg-6">
          @Zone(Region.Content)
        </div>

        <div class="col-lg-6">
         @Zone(Region.AsideSecond)
        </div>
    </div>

    <div class="footer">
        <p>&copy; Company 2014</p>
    </div>

</div> <!-- /container -->
