﻿@{
    ViewBag.Title = Model.Current.MetaTitle;
}
<div class="container">
    <div class="header">
        @Menu()
        <h3 class="text-muted">Mv3</h3>
    </div>

    <div class="jumbotron">
        @Zone(Region.Header)
    </div>
    <div class="row">
        <div class="col-md-4">
            @Zone(Region.TripelFirst)
        </div>
        <div class="col-md-4">
            @Zone(Region.TripelSecond)
        </div>
        <div class="col-md-4">
            @Zone(Region.TripelThird)
        </div>
    </div>

    <div class="footer">
        <p>&copy; Company 2014</p>
    </div>

</div> <!-- /container -->
