﻿@{Layout = null;}
@model Mv3.Models.Content
<div class="widget">
    @if (Model.UseTitle) { <h2>@Html.Raw(Model.Title)</h2> }
	@Html.Raw(Model.Html)
    @if (Model.CreateLink) { 
        @Link(Model.Title, "Index", "Content", true, "", Direction.Horizontal, Model.Id) 
    }
</div>

